<div class="panel panel-default security">
  <div class="panel-heading">
    <h1 class="panel-title">
      <%= Spree.t(:no_cart)%>
    </h1>
  </div>

  <div class="panel-body">
    <% @preferences_cart.each do |key|
      type = Spree::Config.preference_type(key) %>
        <div class="checkbox">
          <%= label_tag key do %>
              <%= preference_field_tag(key, Spree::Config[key], type: type) %>
              <%= Spree.t(key) %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>